.ResultBox
{
	position: relative;
	width:800px;
	height: 250px;
	background-color:white;
	top:200px;
	left:12%;
	padding: 10px;
	padding-left: 0px;

	
}

.BookDetails
{
	background-color: tomato;
	color: white;
	width: 70%;
	height: 100%;
	float:right;
	text-align: left;
	
}

.attachImage
{
	width: 30%;
	float: left;
	height:100%;
}